<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ asset('bundles/multiiconfonts/css/icon-fonts.css') }}" type="text/css" media="all">
</head>
<body>
    <span class="glyphicon icon-lg glyphicon-user"></span>
    <i class="fa icon-2x fa-user"></i>
    <i class="ion-person icon-fw icon-3x"></i>

    <i class="mdi mdi-person icon-4x"></i>
{{ icon('person', 'ion', ['2x', 'fw' ]) }}
{{ icon_ }}
</body>
</html>